@use '../../styles/breakpoints' as bp;

.headerContainer {
    margin-left: 1.25rem;
    display: flex;
    align-items: center;
    padding-bottom: 0.25rem;
    margin-bottom: 1.25rem;
    border-bottom-width: 1px;
    border-color: var(--color-border);
    width: 35%;

    @include bp.down(bp.$bp-tablet) {
        width: 100%;
        margin-left: 0;
    }
}

.headerItem {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: var(--color-text);
}

.separator {
    height: 1.25rem;
    width: 1px;
    background-color: var(--color-border);
    margin-left: 1rem;
    margin-right: 1rem;
}