.div {
    display: flex;
    height: 100vh;
}

.main {
    flex: 1;
    padding: 1.5rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
    overflow-y: auto;
}