.divOfList {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    padding: 20px 0px;
    border-color: rgba(209, 213, 219, 1); 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                0 2px 4px -2px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}