@use '../../styles/breakpoints' as bp;

.formGroup {
    margin-bottom: 18px;

    display: flex;

    align-items: center;

    @include bp.down(bp.$bp-sm) {
        flex-direction: column;
        align-items: stretch;
    }
}
