.sidebar {
  height: 100vh;
  width: 200px;
  background-color: #001f2f;
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.sidebarHeader {
  background-color: #001f2f;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebarLogo {
  color: #a887f3;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.sidebarImg {
  width: 100%;
  height: auto;
}

.sidebarTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.sidebarNav {
  flex: 1;
  background-color: #005F73;
}

.sidebarIcon {
  margin-right: 0.75rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.settingItem {
  cursor: pointer;
  position: relative;
}

.settingDropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 200px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0;
  }

  span {
    margin-left: 8px;
    font-size: 14px;
  }

  &.logout {
    color: #ff4d4f;

    &:hover {
      background-color: #ffecec;
    }
  }
}