.modal {
    width: 10%;
    // max-width: 70%;
    min-width: 20%;
    height: 27%;
    overflow-y: auto;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    transform: none !important; // Override Popper transform nếu cần
    z-index: 1000;
    color: #000
    // position: absolute;
}

.modalClose {
    background-color: #ff000f;
    position: absolute;
    right: 0px;
    top: 0px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    opacity: 0.9;
}

.modalClose:hover {
    opacity: 1;
    background-color: #ccc;
    color: #000;
}