
    .link {
        display: flex;
        align-items: center;
        padding: 1rem;
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

    .link_active {
        background-color: #fff;
        color: #000;
    }

    .link_inactive {
        background-color: transparent;
        color: #fff;

        &:hover {
            background-color: rgb(255 255 255 / 0.1);
        }
    }
